@import url('./tailwind');
@import url('./apply');

@font-face {
  font-family: 'VIVO-FONT-WEB';
  src:
    url('./../font/vivo-font-web.woff2') format('woff2'),
    url('./../font/vivo-font-web.eot') format('embedded-opentype'),
    url('./../font/vivo-font-web.woff') format('woff'),
    url('./../font/vivo-font-web.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'VIVO-FONT-WEB-BOLD', sans-serif;
  src:
    url('./../font/vivo-font-web-bold.eot') format('embedded-opentype'),
    url('./../font/vivo-font-web-bold.woff') format('woff'),
    url('./../font/vivo-font-web-bold.woff2') format('woff2'),
    url('./../font/vivo-font-web-bold.ttf') format('truetype');
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'VIVO-FONT-WEB', sans-serif;
}

.vivo-blod-font {
  font-family: 'VIVO-FONT-WEB-BOLD', sans-serif;
}

.line {
  padding-top: 16px;
}

.gradient-text {
  display: inline-block;
  transform-origin: center;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #f59e0b, #ff4582, #0ea5e9);
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.gradient-text:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

.icons {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.88em;
  cursor: pointer;
}
